@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-menu {
  max-width: 0;
  transition: all 0.25s;
  overflow: hidden;
}

.show-menu {
  max-width: 25%;
  transition: all 0.25s;
}

.hide-height {
  max-height: 0;
  transition: all 0.5s;
  overflow: hidden;
}

.show-height {
  max-height: 20rem;
  transition: all 0.5s;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

li:first-child {
  padding-left: 1rem;
  font-weight: 600;
}

li:not(:first-child) {
  padding-left: 2rem;
}

table,
tr,
td {
  border: 0.25px solid black;
  text-align: center;
}

td {
  padding: 10px;
}

.custom-bg {
  background: url("./images/digital.webp");
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 769px) {
  html {
    font-size: 90%;
  }
  .show-menu {
    max-width: fit-content;
    position: fixed;
    height: 100%;
    transform: translateX(0);
  }

  .hide-menu {
    transform: translateX(-100%);
    position: fixed;
    max-width: fit-content;
    height: 100%;
  }
}
